 @import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&family=Montserrat:wght@300&family=Mukta&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    background-color: rgb(40, 37, 41);
}
header{
    background-color: white;
}
header h1{
    color:black;
    text-align: center;
    font-family:Asap ;
}
.score-board{
    margin:20px auto;
    border: 3px solid white;
    width:200px;
    color:white;
    font-size: 46px;
    padding:15px,20px;
    font-family:Asap;
    position:relative;
    text-align: center;
}
.badge{
    background-color: tomato;
    color:white;
    font-size: 14px;
    padding:2px,15px;
    font-family:Asap;
}
#user-label{
    position:absolute;
    top:20px;
    left:-25px;
}
#comp-label{
    position:absolute;
    top:20px;
    right: -30px;;
}
.result{
    font-size:40px;
    color:white;

}
.result p{
    text-align: center;
    font-weight: bold;
    font-family:Asap ;
}
.choices{
    text-align: center; 
    margin-top:50px;
}
.choice{
    display:inline;
    width:30px;
    margin: 0 15px;
    padding:10px;
}
.choice img{
    border-radius: 60%;
    border: 4px solid rgb(2, 0, 0) ;
}
.choice:hover{
    cursor: pointer;
}
#action-message{
    text-align:center;
    color:white;
    font-family: Asap;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
